<nav>
    <div class="d-flex justify-content-around">
        <div><a href="/">Home</a></div>
        <div><a href="/authors/">Main authors page</a></div>
        <div><a href="/authors/new">Add Author</a></div>
    </div>
</nav>