
<div class="mt-5">
    <form class="form-group mx-3" action="/authors/new" method="post">
        <div class="row">
            <div class="col-6">
                <label for="newAuthor">Add new author</label>

                <input id="newAuthor" name="newAuthor" class="form-control col-6" required>
            </div>
        </div>
        <div class="mt-3 d-flex">
            <a class="btn btn-secondary" href="/authors/new" >Cancel</a>
            <button class="btn btn-primary mx-2" type="submit">Submit</button>
        </div>
    </form>
</div>